name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: ./podinfo          # set build context to your app folder
          file: ./podinfo/Dockerfile  # explicitly point to Dockerfile
          push: true
          tags: |
            nikhilnamaji/hello-app:latest
            nikhilnamaji/hello-app:${{ github.sha }}